[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lenses = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
numpy = "*"
pandas = "*"
matplotlib = "*"
pydantic = "*"
requests = "*"
networkx = "*"
scipy = "*"
ipympl = "*"
ipywidgets = "*"
ipykernel = "*"
streamlit = "*"
hydralit = "*"
sklearn = "*"
bokeh = "==2.4.1"

[dev-packages]
mypy = "*"
ipython = "*"
autopep8 = "*"
pytest = "*"
pyright = "*"

[requires]
python_version = "3.10"
