[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diagoriente-oplc-etl = {editable = true, path = "./../etl"}
streamlit = "*"
diagoriente-oplc = {editable = true, path = "./../model"}

[dev-packages]

[requires]
python_version = "3.10"
