[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
diagoriente-oplc = {editable = true, path = "./../model"}
diagoriente-oplc-etl = {editable = true, path = "./../etl"}
voila = "*"

[dev-packages]

[requires]
python_version = "3.10"
