[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
requests = "*"
hydralit = "*"
diagoriente-oplc-etl = {editable = true, path = "./../etl"}
diagoriente-oplc = {editable = true, path = "./../model"}

[dev-packages]
mypy = "*"
autopep8 = "*"
pytest = "*"
pyright = "*"

[requires]
python_version = "3.10"
